body {
	padding-top: 90px;
}

.panel-default>.panel-general-details {
	background-color: #BF7F3F;
	text-align: center;
	font-size: larger;
	color: black;
}

.panel-default>.panel-business-details {
	background-color: #BFBF3F;
	text-align: center;
	font-size: larger;
	color: black;
}

.panel-default>.panel-finance-details {
	background-color: #7FBF3F;
	text-align: center;
	font-size: larger;
	color: black;
}
